.background {
  viewport-fill: black;
}

*{
  text-anchor: middle;
  fill:white;
}

#appTime {
  font-family: System-Bold;
  font-size: 80;
  text-length: 32;
  x: 50%;
  y: 20%;
  fill: white;
}

#bat_level{
  text-length: 4;
  font-size: 26;
  x: 15%;
  y: 15%;
}

#heart_rate{
  text-length: 8;
  font-size: 26;
  x: 85%;
  y: 15%;
}

